<style>
    .gallery-product,
    .gallery-view {
        margin-bottom: 30px;
    }
</style>

<div class="gallery-view row">

    {{!TODO Ex 4 Step 5. Delete these <div>s and replace them with proper entries from the gallery array.}}

    <div class="gallery-product col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="..."><img src="http://fakeimg.pl/365x365/" class="img-responsive"></a>
    </div>

    <div class="gallery-product col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="..."><img src="http://fakeimg.pl/365x365/" class="img-responsive"></a>
    </div>

    <div class="gallery-product col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="..."><img src="http://fakeimg.pl/365x365/" class="img-responsive"></a>
    </div>

    <div class="gallery-product col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="..."><img src="http://fakeimg.pl/365x365/" class="img-responsive"></a>
    </div>

    {{!TODO Ex 4 Step 6. Display an alternate message if there are no entries in the gallery array.}}

</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Upload new image</h3>
        </div>
        <div class="panel-body">
            {{!TODO Ex 5 Step 1. Set the correct enctype for the form.}}
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.bmp,.png" required>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Upload">
                    <input class="btn btn-default" type="reset" value="Clear">
                </div>
            </form>
        </div>
    </div>
</div>